.contrastRelationSection {
  display: flex;
  justify-content: space-between;
  padding: 25px;
  border-radius: 0.75rem;
  min-height: 9rem;
  background: var(--box-background);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);

  & div {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 25px;
    gap: 5px;
  }

  & div:first-child {
    border-right: 1px solid var(--content-relation-first-div);
  }
}

.contrastRelation small {
  margin-bottom: auto;
  font-weight: 700;
}

.pass,
.fail {
  font-weight: 700;
  font-size: 2rem;
}

.pass,
.passContrastRelation {
  color: var(--pass-color);
}

.fail,
.failContrastRelation {
  color: var(--fail-color);
}

.passResult {
  font-size: 32px;
  display: flex;
  justify-content: space-between;

  & .passBadge {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: var(--pass-badge-color);
    background: var(--pass-badge-background);
    font-weight: 700;
    padding: 8px 16px;
    border-radius: 8px;
  }
}

.failResult {
  font-size: 32px;
  display: flex;
  justify-content: space-between;

  & .failBadge {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: var(--fail-badge-color);
    background: var(--fail-badge-background);
    font-weight: 700;
    padding: 8px 16px;
    border-radius: 8px;
  }
}

.colorContrastForm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  margin-top: 20px;
  border-radius: 0.75rem;
  background: var(--box-background);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);

  & label {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  & input {
    padding: 0px 16px;
    height: 2.5rem;
    font-size: 1rem;
    padding-inline: 1rem;
    border: 1px solid #bbb;
    border-radius: 0.5rem;
    outline: none;
  }
}

.colorContrastValue {
  font-size: 48px;
}

.labelContainer {
  display: flex;
  align-items: center;
  gap: 16px;
}

.colorBlock {
  border: 1px solid;
  border-color: var(--button-border-color);
  width: var(--color-block-size);
  height: var(--color-block-size);
  border-radius: 0.75rem;
}

.demostrationContainer {
  padding: 25px;
  margin-top: 20px;
  margin-bottom: 32px;
  border-radius: 0.75rem;
  background: var(--box-background);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.demostrationCardTop {
  margin-bottom: 24px;
}

.demostrationText {
  margin-top: 12px;
  border-radius: 0.75rem;
  transition: all 0.2s;
}

.invertValuesButton {
  background: transparent;
  border: var(--border-button);
}

.invertValuesButton {
  background: transparent;
  border: var(--border-button);
  border-color: var(--button-border-color);
  padding: 16px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  outline: none;
  transition: all 0.2s;

  & svg {
    width: 24px;
    height: 24px;
  }

  &:hover {
    cursor: pointer;
    background: var(--hover-button);
  }
}

.bold {
  font-weight: 700;
}

@media (width < 942px) {
  .contrastRelationSection {
    flex-direction: column;
    gap: 24px;
  }

  .colorContrastForm {
    flex-direction: column;
    gap: 24px;
  }

  .contrastRelationSection div:first-child {
    border-right: none !important;
  }
}

@media (width < 412px) {
  .colorBlock {
    --color-block-size: 40px;
  }
}

@media (prefers-color-scheme: dark) {
  .contrastRelationSection,
  .colorContrastForm,
  .demostrationContainer {
    --box-background: #1d3939;
  }

  .contrastRelationSection div:first-child {
    --content-relation-first-div: #4d6767;
  }

  .labelContainer .colorBlock {
    border-color: #1d3939 !important;
  }

  .fail,
  .failContrastRelation {
    --fail-color: #f61525;
  }

  .pass,
  .passContrastRelation {
    --pass-color: #12e285;
  }

  .invertValuesButton {
    color: #fff;
    --button-border-color: #4d6767;

    &:hover {
      --hover-button: #4d6767;
    }
  }

  .passBadge {
    --pass-badge-color: #12e285;
    --pass-badge-background: #152d2d;
  }

  .failBadge {
    --fail-badge-color: #f44336;
    --fail-badge-background: #2d1515;
  }
}
