.contrastRelationSection {
  display: flex;
  justify-content: space-between;
  padding: 25px;
  border-radius: 0.75rem;
  min-height: 9rem;
  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);

  & div {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 25px;
  }

  & div:first-child {
    border-right: 1px solid #e9e9e9;
  }
}

.contrastRelation small {
  margin-bottom: auto;
  font-weight: 700;
}

.pass,
.fail {
  font-weight: 700;
  font-size: 2rem;
}

.pass,
.passContrastRelation {
  color: #26a16a;
}

.fail,
.failContrastRelation {
  color: #da1927;
}

.colorContrastForm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  margin-top: 20px;
  border-radius: 0.75rem;
  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);

  & label {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  & input {
    padding: 0px 16px;
    height: 2.5rem;
    font-size: 1rem;
    padding-inline: 1rem;
    border: 1px solid #bbb;
    border-radius: 0.5rem;
    outline: none;
  }
}

.colorContrastValue {
  font-size: 40px;
}

.labelContainer {
  display: flex;
  align-items: center;
  gap: 16px;
}

.demostrationContainer {
  padding: 25px;
  margin-top: 20px;
  margin-bottom: 32px;
  border-radius: 0.75rem;
  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.demostrationCardTop {
  margin-bottom: 24px;
}

.invertValuesButton {
  background: #dde3eb;
  border: none;
  padding: 16px;
  border-radius: 50%;
  height: 48px;
  outline: none;
  transition: background 0.2s;

  &:hover {
    cursor: pointer;
    background: #c8d3e0;
  }
}

.bold {
  font-weight: 700;
}

@media (width < 942px) {
  .contrastRelationSection {
    flex-direction: column;
    gap: 24px;
  }

  .colorContrastForm {
    flex-direction: column;
    gap: 24px;
  }
}

@media (width < 412px) {
  .labelContainer div {
    width: 40px !important;
    height: 40px !important;
  }
}

@media (prefers-color-scheme: dark) {
  .contrastRelationSection,
  .colorContrastForm,
  .demostrationContainer {
    background: #1d3939;
  }

  .contrastRelationSection div:first-child {
    border-right: transparent;
  }

  .labelContainer div {
    border-color: #1d3939 !important;
  }

  .fail, .failContrastRelation {
    color: #F61525;
  }

  .pass, .passContrastRelation {
    color: #2DD58A;
  }
}
