---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Calculate the contrast ratio between background and foreground colors." />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.webp" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
    <meta name="author" content="Martín Valdez" />
    <meta name="robots" content="index, follow" />
    <link rel="apple-touch-icon" href="/favicon.webp" />
    <meta property="og:url" content="https://contrastcheck.vercel.app/" />
    <meta property="og:site_name" content="Contrast Check" />
    <meta property="og:type" content="website" />
    <meta property="og:image" itemprop="image primaryImageOfPage" content="/favicon.webp" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:domain" content="https://contrastcheck.vercel.app" />
    <meta name="twitter:title" property="og:title" itemprop="name" content="Contrast Check" />
    <meta name="twitter:description" property="og:description" itemprop="description" content="Calculate the contrast ratio between background and foreground colors." />
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
  :root {
    --body-bg: #FFFFFF;
    --body-color: #102828;
    --box-background: #FFFFFF;
    --link-color: #090909;
    --fail-color: #DA1927; 
    --pass-color: #26A16A;
    --pass-badge-color: #0B4A34;
    --pass-badge-background: #D7F5EA;
    --fail-badge-color: #651C1C;
    --fail-badge-background: #ffecec;
    --content-relation-first-div: #E9E9E9;
    --border-button: 1px solid;
    --button-border-color: #BACDCD;
    --hover-button: #BACDCD;
    --color-block-size: 80px;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
  }

	html {
		font-family: system-ui, sans-serif;
  }

  body {
    background: var(--body-bg);
    color: var(--body-color);
  }
  
  code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}

  @media (prefers-color-scheme: dark) {
    body {
      --body-bg: #102828;
      --body-color: #F2F4F7;
    }
  }
</style>
